{% extends 'base.html' %}
{% block style %}
    .bar{
        fill: steelblue;
    }

    .bar:hover{
        fill: brown;
    }

    .axis {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
{% endblock %}

{% block main %}
<div id="chartContainer" class="col-xs-8" style="padding: 5px;">

</div>

<div class="col-xs-4">
  <div class="btn-group" role="group" aria-label="...">
    <a type="button" class="btn btn-default" href="{% url 'myhome:historyofTvalue' %}">Day</a>
    <a type="button" class="btn btn-default" href="{% url 'myhome:week_Tvalue' %}">Week</a>
  </div>
  <img src="/static/image/advice.png" height="150" width="200">
  <textarea cols="50" rows="10" wrap="hard" readonly="yes">{{ Notification }} </textarea>
</div>

{% endblock %}
{% block script %}
FusionCharts.ready(function(){
  var endpoint = "../../api/Data/history/";

  $.ajax({
    method: "GET",
    url: endpoint,

    success: function(data) {
      var revenueChart = new FusionCharts({
        "type": "column2d",
        "renderAt": "chartContainer",
        "width": "500",
        "height": "300",
        "dataFormat": "json",
        "dataSource": {
          "chart": {
              "caption": "Monthly revenue for last year",
              "subCaption": "Harry's SuperMart",
              "xAxisName": "Month",
              "yAxisName": "Revenues (In USD)",
              "theme": "fint"
           },
          "data": data
        }
      });

      revenueChart.render();
    }
  });
})
{% endblock %}
