{% extends 'base.html' %}
{% block style %}
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-4 mt-3 text-center">
    <div class="btn-group" role="group">
      <a type="button" class="btn btn-outline-default" href="{% url 'myhome:historyofTvalue' %}">Day</a>
      <a type="button" class="btn btn-outline-dark" href="{% url 'myhome:week_Tvalue' %}">Week</a>
    </div>
  </div>
  <div class="col-md-8 mt-3 text-center">
    <label class="alert alert-warning">{{ Notification }}</label>
  </div>
  <div id="chartContainer" class="col-md-12 text-center mt-3"></div>
</div>
{% endblock %}
{% block script %}
FusionCharts.ready(function(){
  var endpoint = "../../api/Data/history/";

  $.ajax({
    method: "GET",
    url: endpoint,

    success: function(data) {
      var revenueChart = new FusionCharts({
        "type": "column2d",
        "renderAt": "chartContainer",
        "dataFormat": "json",
        "width": 1200,
        "height": 500,
        "dataSource": {
          "chart": {
              "caption": "Average Temperature of last 24 hours",
              "xAxisName": "Hours from now",
              "yAxisName": "Temperature (°C)",
              "showlabels": "1",
              "showalternatehgridcolor": "1",
              "alternatehgridcolor": "ff5904",
              "divlinecolor": "ff5904",
              "divlinealpha": "20",
              "alternatehgridalpha": "5",
              "canvasbordercolor": "666666",
              "canvasborderthickness": "1",
              "basefontcolor": "666666",
              "linecolor": "FF5904",
              "linealpha": "85",
              "showvalues": "1",
              "rotatevalues": "1",
              "valueposition": "auto",
              "canvaspadding": "8",
              "bgcolor": "ffffff",
              "valuepadding": "5",
              "showborder": "0",
           },
          "data": data
        }
      });

      revenueChart.render();
    }
  });
})
{% endblock %}
